.form label{
	font-size: 1rem;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])

{
	border-bottom: 1px solid #99C00F;
	box-shadow: 0 1px 0 0 #99C00F;
	color: #99C00F;


}

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label
{
	color: #99C00F;
}

input[type=checkbox]:checked
{
	color: #99C00F;
	background-color:#99C00F;
}
.file-field input.file-path{
	margin-left: 25%;
}

.btn{
	background-color:#99C00F;
}
.btn:hover{
	background-color:#99C00F;
}

.form a{
	color:#99C00F;
}
.brand-logo{
	height: 100%;
}
.picker__date-display
{
	background-color: #99C00F;
}
.picker__weekday-display
{
	background-color: #99C00F;
}
.picker__close,.picker__today
{
	color: #99C00F;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected
{
	background-color: #99C00F;
}
nav{
	background-color: #99C00F 
}
[type="radio"]:checked + label:after
{
	border : 2px solid #99C00F ;
	background-color: #99C00F;
}
[type="checkbox"]:checked + label:before
{
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid #99C00F ;
	border-bottom: 2px solid #99C00F ;
}