.form label{
	font-size: 1rem;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])

{
	border-bottom: 1px solid #90b70c;
	box-shadow: 0 1px 0 0 #90b70c;
	color: #90b70c;


}

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label
{
	color: #90b70c;
}

input[type=checkbox]:checked
{
	color: #90b70c;
	background-color:#90b70c;
}

.btn{
	background-color:#90b70c;
}
.btn:hover{
	background-color:#90b70c;
}

.form a{
	color:#90b70c;
}
.brand-logo{
	height: 100%;
}